@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{margin: 0;padding: 0;}
a{text-decoration: none; display: block; color: #333;font-family: 'ImcreSoojin';}
img{width: 100%;}
header, section, footer, div{
    box-sizing: border-box;
}
html, body{overflow-x: hidden;}
body{font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
body.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
header{
    height: 150px;
    background-color: white;
    position: relative;
    z-index: 100;
}
header > div{
    width: 1760px;
    margin: 0 auto;
}
header .top_menu{
    height: 80px;
}
header .top_menu .top_menu_list{
    float: right;
    margin-top: 15px;
}
header .top_menu .top_menu_list > div{
    float: left;
}
header .top_menu .top_menu_list ul li{
    float: left;
}
header .top_menu .top_menu_list ul li a{
    padding: 10px;
    font-size: 14px;
}
header .btm_menu{
    height: 70px;
    z-index: 30;
    position: relative;
}
header .btm_menu .btm_nav1{
    float: left;
}
header .btm_menu .btm_nav2{
    float: right;
}
header .btm_menu .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    bottom:60px;
}
header .btm_menu nav > ul > li{
    float: left;
    margin:  10px;
}
header .btm_menu nav > ul > li > a{
    font-size: 15px;
    padding-right: 55px;

}
header .btm_menu nav > ul > li:hover > a{
    color: rgb(133, 128, 128)
}
header .btm_menu nav .sub{
    padding-top: 30px;
    display: none;
    position: absolute;
}
header .btm_menu nav .sub li a {
    padding: 7px 0 ; 
    font-size: 14px;
    position:relative;
    display: inline-block;
}
header .btm_menu nav .sub li a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #838383;
    left: 0;
    bottom: 0;
    transition: all 1s;
}
header .btm_menu nav .sub li:hover a:after{
    width: 100%;
}
header .btm_menu nav,
header .btm_menu .src_icon,
header .btm_menu .hbg_icon{
    float: left;
}
header .btm_menu .src_icon,
header .btm_menu .hbg_icon{
    width: 26px;
    margin: 0 auto;
    margin-top: 7px;
    margin-left: 10px;
}
header .sub_bg{
    background-color:white;
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    height: 260px;
    box-shadow: 0 2px 2px #333;
    display:none;
    z-index:20;
}
header .search_area{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 150px;
    display: none;
    background-color: white;
}
header .search_area .search_in{
    width: 700px;
    height: 60px;
    margin: 80px auto;
    border-bottom: 2px solid #111;
    
}
header .search_area .search_in input{
    width: 600px;
    float: left;
    font-size: 20px;
    padding: 15px 0 ;
    display: block;
    border: none;

}
header .search_area a{
    width: 60px;
    padding-bottom: 30px;
    float:right;
}
header .search_area input:focus{
    outline: none;
}
header .search_area > a {
    margin: 0 auto;
    float: none;
    width: 22px;
}
.section_top{
    width: 100%;
    height: 300px;
    float: left;
}
.models{
    width: 100%;
    float: left;
    margin-top: 160px;
}
.models .m_in{
    width: 1460px;
}
.models .m_right{
    width:1460px;
    float: right;
}

.models .m_img{
    width: 1460px;
    height: 810px;
    overflow: hidden;
}
.models .m_des{
    width: 1460px;
    margin: 80px auto;
    color: #333;
}
.models .m_des .m_title h2{
    color: #333;
    text-shadow: 0 0 20px #999;
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
.models .m_des .m_title h2:first-child{
    font-size: 30px;
}
.models .m_des div{
    float: left;
    padding: 0 60px;
}
.models .m_des div h2{
    font-size: 32px;
}
.models .m_des .m_detail h2{
    color: #ddd;
    margin: 30px;
    text-shadow: 0 0 5px #111;
}
.models .m_des div p {
    font-size:24px;
    line-height: 30px;
    color: #999;
    word-wrap: break-word;
}
.models .m_des div button{
    cursor: pointer;
    padding: 15px 25px;
    margin-top: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    color: #f58;
    position: relative;
    width: 180px;
    height: 50px;
    margin-left: 300px;
}
.models .m_des div button span{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 15px 25px;
    color: #999;
}
.models .m_des div button:after{
    content: "";
    position: absolute;
    background-color: #999;
    left: 0;
    bottom: 0;
    height: 0;
    transition: all 0.5s;
    width: 100%;
}
.models .m_des div button:hover::after{
    height: 100%;
}
.models .m_des div button:hover span{
    color: #fff;
}

footer .center_box{
    width:100%;
    float:left;
    background-color: #ccc;
    padding-top: 40px;
}
footer .center_box .footer_left{
    width: 40%;
    margin-left: 80px;
    margin-bottom: 80px;
    float:left;
}
footer .center_box .footer_left .footer_left_up{
  width: 100%;
  float:left;
}
footer .center_box .footer_left .footer_left_up ul li {
  float:left;
}
footer .center_box .footer_left .footer_left_up ul li:first-child a {
  color: #111;
}
footer .center_box .footer_left .footer_left_up ul li a {
  width :100%;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 40px;
  border-right: 1px solid #333;
  font-size: 15px;
  color: #9b9999;
  text-align: center;
}
footer .footer_right {
  float: right;
}
footer .footer_right .family {
  width:150px;
  float:right;
  border-bottom:2px solid #333;
  color:#666;
  padding:10px 0;
  margin-top: 50px;
  position: relative;
  margin-right: 50px;
}
footer .footer_right .family span {
  width:10px;
  float:right;
}
footer .footer_right .family .fa_con {
  /* fa_title 제목과 겹침 */
  position: absolute;
  background-color: #111;
  bottom:0;
  width:100%;
  padding:10px 0;
  display: flex;
  /*세로 아래 정렬*/
  align-items: flex-end;  
  /*ul과 a태그 가로로 정렬*/
  justify-content: space-between; 
}
footer .footer_right .family .fa_con ul {
  float:left;
}
footer .footer_right .family .fa_con ul li a {
  padding:7px 20px 5px;
  color:#fff;
  font-size: 14px;
}
footer .footer_right .family .fa_con > a {
  width:20px;
  float:right;
  margin-right: 20px;
}
footer .footer_right .brend {
  width:150px;
  float:right;
  border-bottom:2px solid #333;
  color:#666;
  padding:10px 0;
  margin-top: 50px;
  position: relative;
  margin-right: 50px;
}
footer .footer_right .brend span {
  width:10px;
  float:right;
}
footer .footer_right .brend .br_con {
  /* fa_title 제목과 겹침 */
  position: absolute;
  background-color: #111;
  bottom:0;
  width:100%;
  padding:10px 0;
  display: flex;
  /*세로 아래 정렬*/
  align-items: flex-end;  
  /*ul과 a태그 가로로 정렬*/
  justify-content: space-between; 
}
footer .footer_right .brend .br_con ul {
  float:left;
}
footer .footer_right .brend .br_con ul li a {
  padding:7px 20px 5px;
  color:#fff;
  font-size: 14px;
}
footer .footer_right .brend .br_con > a {
  width:20px;
  float:right;
  margin-right: 20px;
}
footer .footer_right .community {
  width:130px;
  float:right;
  border-bottom:2px solid #333;
  color:#666;
  padding:10px 0;
  margin-top: 50px;
  position: relative;
  margin-right: 50px;
}
footer .footer_right .community span {
  width:10px;
  float:right;
}
footer .footer_right .community .co_con {
  /* fa_title 제목과 겹침 */
  position: absolute;
  background-color: #111;
  bottom:0;
  width:100%;
  padding:10px 0;
  display: flex;
  /*세로 아래 정렬*/
  align-items: flex-end;  
  /*ul과 a태그 가로로 정렬*/
  justify-content: space-between; 
}
footer .footer_right .community .co_con ul {
  float:left;
}
footer .footer_right .community .co_con ul li a {
  padding:7px 20px 5px;
  color:#fff;
  font-size: 14px;
}
footer .footer_right .community .co_con > a {
  width:20px;
  float:right;
  margin-right: 20px;
}
.top_btn {
  width:100px;
  height: 100px;
  color:white;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  position:fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 999;
  background-image: url(../img/Top.png);
  background-size:cover ;
}
.top_btn.active {
  position:absolute;
  bottom: 240px;
  right:0;
}
.site {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  right:-100%;
}
.site .site_menu {
  width: 710px;
  height: 100vh;
  float: left;
  background-color: #333;
  position: relative;
}
.site .site_menu nav {
  position: absolute;
  z-index: 1002;
  padding: 150px 0 0 70px;
}
.site .site_menu nav > ul >li{
  width: 100%;
  float: left;
  position: relative;
  padding: 20px;
  z-index:1;
}
.site .site_menu nav > ul >li.active {
  z-index: 2;
}
.site .site_menu nav > ul >li.active > a{
  color: #fff;
}
.site .site_menu nav > ul >li > a{
  float: left;
  font-size: 40px;
  color: #aaa;
  font-weight: bold;
}
.site .site_menu nav > ul >li > a.active{
  color: #fff;
}
.site .site_menu nav > ul > li > p{
  float: left;
  width:  0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 20px;
  transition: all 0.5s;
}
.site .site_menu nav > ul > li > p.line1.active {
  width: 130px;
}
.site .site_menu nav > ul > li > p.line2.active {
  width: 160px;
}
.site .site_menu nav > ul > li > p.line3.active {
  width: 190px;
}
.site .site_menu nav > ul > li > p.line4.active {
  width: 185px;
}
.site .site_menu nav > ul > li .sub{
  position: absolute;
  top: 30px;
  left: 300px;
  display: none;
}
.site .site_menu nav > ul > li:hover > a{
  color: #333;
}
.site .site_menu nav > ul > li .sub li{
  margin: 0 0 20Px 0;
}
.site .site_menu nav > ul > li .sub li a {
  color:white;
  font-size: 20px;
  margin: 0 20px;
}
.site .site_menu nav > ul > li.active > .sub li a {
  color: #838383;
  padding: 10px;
  display: none;
}
.site .site_bg {
  width:100%;
  height: 100vh;
  position: absolute;

}
.site .site_bg ul li{
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.site .site_bg ul li img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.site .site_bg ul li:first-child {
  display: block;
}
.site .site_map{
  width:1210px;
  height: 100vh;
  padding: 100px 80px;
  background-color: white;
  float:left;
}
.site .site_map .site_close{
  width: 27px;
  height: 27px;
  float: right;
}
.site .site_map .site_nav{
  width: 100%;
  float: left;
  margin-top: 50px;
}
.site .site_map .site_nav > ul > li{
  float: left;
  margin: 50px;
}
.site .site_map .site_nav > ul > li{
  float: left;
  margin: 40px;
  width: 120px;
  height:180px;
}
.site .site_map .site_nav > ul > li > a{
  font-size:24px;
}

.site .site_map .site_nav > ul > li > .sub li a {
  font-size: 16px;
  padding: 10px 0;
  color: #777;
}
.site .site_map .site_banner{
  width: 100%;
  float: left;
  padding: 100px 60px;
}
.site .site_map .site_banner ul li{
  float: left;
  margin-right: 20px;
  width: 280px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 20px;
  box-sizing: border-box;
}
.site .site_map .site_banner ul li a{
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
}
.site .site_map .site_banner ul li:first-child{
  background-image: url(../img/site_banner-1.jpeg);
}
.site .site_map .site_banner ul li:nth-child(2){
  background-image: url(../img/site_banner-2.jpeg);
}
.site .site_map .site_banner ul li:last-child{
  background-image: url(../img/site_banner-3.jpeg);
}
.subColor {
  color: red;
}